    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .header {
        background: url("/img/img-header.png");
        width: 100%;
        height: 790px;
        position: relative;
    }
    
    .box-menu {
        width: 100%;
        height: 82px;
        background: rgba(46, 22, 22, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    
    .main-menu {
        margin: 0 auto;
        width: 1170px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .menu {
        width: 874px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .menu ul {
        display: flex;
    }
    
    .menu ul li {
        list-style-type: none;
    }
    
    .menu ul li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
        padding: 15px 40px;
    }
    
    .menu ul li a:hover {
        background: rgba(46, 22, 22, 0.5);
    }
    
    .text-header {
        width: 652px;
        margin: 0 auto;
        text-align: center;
        color: #ffffff;
        position: absolute;
        top: 300px;
        left: 444px;
    }
    
    .tilte {
        font-size: 36px;
        letter-spacing: 2px;
    }
    
    .tilte-1 {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .box-search {
        width: 977px;
        height: 100px;
        margin: 0 auto;
        background: #40150d;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 300px;
        left: 280px;
    }
    
    .main-search {
        width: 930px;
        height: 37px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .text-search {
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
        width: 70px;
    }
    
    .input {
        width: 397px;
        height: 100%;
        background-color: #cccccc;
    }
    
    input[type=text] {
        padding: 10px 20px;
        border: none;
    }
    
    input[type=text]:focus {
        outline: none;
    }
    
    .list-city {
        width: 126px;
        height: 100%;
        background-color: #cccccc;
    }
    
    .list-type {
        width: 126px;
        height: 100%;
        background-color: #cccccc;
    }
    
    .btn {
        padding: 10px 20px;
        background-color: #f1c40f;
    }
    
    input[type=button] {
        border: none;
        cursor: pointer;
    }
    
    input[type=button]:focus {
        outline: none;
    }
    
    .main-content {
        width: 100%;
    }
    
    .content {
        width: 1170px;
        height: 790px;
        margin: 0 auto;
        padding-top: 96px;
        display: flex;
        justify-content: space-between;
    }
    
    .content-right {
        width: 613px;
        height: 790px;
    }
    
    .text-1 {
        font-size: 28px;
        color: #f1c40f;
    }
    
    .text-2 {
        text-transform: uppercase;
        font-size: 36px;
        color: #40150d;
        margin: 34px 0 54px 0;
    }
    
    .text-3 {
        color: #333333;
        font-size: 14px;
    }
    
    .text-4 {
        color: #333333;
        font-size: 14px;
        margin: 26px 0 100px 0;
    }
    
    .hour {
        background: url("/img/hinhvuong.png") no-repeat;
        width: 165px;
        height: 165px;
    }
    
    .box-hour {
        height: 94px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    .number {
        color: black;
        font-size: 100px;
        position: absolute;
        right: 0;
        top: 30px;
    }
    
    .text-nunber {
        position: absolute;
        left: 180px;
        top: 45px;
        color: black;
        font-size: 24px;
        text-align: left;
        display: flex;
        letter-spacing: 5px;
    }
    
    .telephone {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 236px;
        height: 45px;
        margin: 48px 76px 0 48px;
    }
    
    .phone-number {
        width: 190px;
        height: 45px;
    }
    
    .Call {
        font-size: 16px;
        color: black;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    .number-phone {
        font-size: 24px;
        color: black;
    }
    
    .content-left {
        width: 458px;
        height: 668px;
        position: relative;
        background: url("/img/khung.png") no-repeat;
    }
    
    .man {
        position: absolute;
        bottom: 0;
        right: 50px;
    }
    
    .lst-img {
        width: 100%;
        height: 660px;
    }
    
    .title {
        width: 100%;
        margin: 90px 0 35px 0;
    }
    
    .box-title {
        width: 1170px;
        height: 38px;
        margin: 90px 0 35px 0;
        position: relative;
        margin: 0 auto;
        background: url("/img/hv1.png") no-repeat;
    }
    
    .Arena {
        position: absolute;
        top: 3px;
        left: 10px;
        color: #40150d;
        font-size: 28px;
        letter-spacing: 1px;
    }
    
    .lst-img {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .box-1 {
        width: 480px;
        height: 317px;
        position: relative;
        margin: 0 12px 27px 13px;
    }
    
    .img-1 {
        width: 100%;
        height: 100%;
    }
    
    .mask {
        background: #40150dcf;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        text-align: center;
        padding-top: 35px;
    }
    
    .box-1:hover>.mask {
        display: block;
        cursor: pointer;
    }
    
    .title-mask {
        color: #ffffff;
        font-size: 24px;
        margin: 30px 0 15px 0;
    }
    
    .text-mask {
        font-size: 14px;
        color: #ffffff;
        padding: 0 20px;
        margin: 20px 23px;
    }
    
    .icon-view,
    .icon-tym,
    .icon-share {
        width: 43px;
        height: 43px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
    }
    
    .icon {
        width: 186px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    
    .icon-view:focus,
    .icon-tym:focus,
    .icon-share:focus {
        outline: none;
    }
    
    .icon-view:after {
        content: '';
        display: inline-block;
        background: url('/img/timkem.png') no-repeat;
        width: 17px;
        height: 15px;
    }
    
    .icon-tym::after {
        content: '';
        display: inline-block;
        background: url('/img/tym.png') no-repeat;
        width: 17px;
        height: 15px;
    }
    
    .icon-share::after {
        content: '';
        display: inline-block;
        background: url('/img/share.png') no-repeat;
        width: 17px;
        height: 9px;
    }
    
    .carousel {
        width: 100%;
        height: 6px;
        margin: 65px 0 56px 0;
    }
    
    .lst-carousel {
        display: flex;
        width: 139px;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    .lst-carousel li {
        width: 35px;
        height: 6px;
        background-color: #dedede;
        list-style-type: none;
        cursor: pointer;
    }
    
    .lst-carousel li:first-child {
        background: #f1c40f;
    }
    
    .lst-carousel li:hover {
        background: #f1c40f;
    }
    
    .Our-client-say {
        background: url("/img/bg.png") no-repeat;
        width: 100%;
        height: 557px;
    }
    
    .box-client {
        width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .hv-client {
        position: relative;
        bottom: -20px;
    }
    
    .text-client {
        position: absolute;
        color: #40150d;
        font-size: 28px;
        margin: 20px 0 0 10px;
    }
    
    .btn-client {
        margin-top: 50px;
    }
    
    .btn-back {
        width: 18px;
        height: 20px;
        margin-right: 20px;
    }
    
    .btn-next {
        width: 18px;
        height: 20px;
    }
    
    .lst-man {
        width: 1170px;
        height: 264px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    .man-1 {
        width: 550px;
        height: 100%;
        background-color: #ffffff;
        margin-top: 100px;
        box-shadow: 0 0 20px 10px #ccccccba;
        position: relative;
    }
    
    .img-man-1 {
        position: absolute;
        width: 90px;
        height: 91px;
        top: -45px;
        left: 26px;
    }
    
    .title-comment {
        width: 496px;
        height: 106px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 89px 0 0 27px;
    }
    
    .name-job {
        font-size: 14px;
        color: #717171;
    }
    
    .text-comment {
        font-size: 14px;
        color: #717171;
        padding-right: 20px;
    }
    
    .name {
        font-size: 18px;
        color: #1e1e1e;
    }
    
    .man-2 {
        width: 550px;
        height: 100%;
        background-color: #ffffff;
        margin-top: 100px;
        box-shadow: 0 0 20px 10px #ccccccba;
        position: relative;
    }
    
    .img-man-2 {
        position: absolute;
        width: 90px;
        height: 91px;
        top: -45px;
        left: 26px;
    }
    
    .Comments-bg {
        width: 100%;
        height: 276px;
        background: url('/img/comments-bg.png') no-repeat;
    }
    
    .box-bg {
        width: 863px;
        height: 86px;
        margin: 0 auto;
        padding-top: 100px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .text-bg {
        color: #ffffff;
        font-size: 20px;
        text-align: center;
    }
    
    .name-bg {
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        padding-right: 10px;
        border-right: 1px solid #ffffff;
    }
    
    .circle {
        display: flex;
        align-items: center;
    }
    
    .circle li {
        width: 10px;
        height: 10px;
        display: block;
        border: 1px solid #ffffff;
        border-radius: 50%;
        margin-left: 10px;
    }
    
    .box-name {
        margin: 0 auto;
        padding-top: 24px;
        display: flex;
    }
    
    .circle li:hover {
        background-color: #ffffff;
        cursor: pointer;
    }
    
    .circle li:first-child {
        background-color: #ffffff;
    }
    
    .Lastest-new {
        width: 100%;
    }
    
    .box-new {
        width: 1170px;
        margin: 0 auto;
    }
    
    .title-new {
        margin: 58px 0 47px 0;
    }
    
    .backgound {
        position: absolute
    }
    
    .text-new {
        position: relative;
        color: #40150d;
        font-size: 28px;
        left: 10px;
        top: 4px;
    }
    
    .lst-box {
        width: 100%;
        height: 480px;
        margin-bottom: 68px;
        display: flex;
        justify-content: space-between;
    }
    
    .box-img-1:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    
    .box-img-1 {
        width: 364px;
        height: 100%;
        border: 3px solid #f1c40f;
    }
    
    .box-img-2 {
        width: 364px;
        height: 100%;
        background: url("/img/new-2.png") no-repeat;
    }
    
    .box-img-3 {
        width: 364px;
        height: 100%;
        background: url("/img/new-3.png") no-repeat;
    }
    
    .lst-logo {
        background: url("/img/bg-brand.png") no-repeat;
        width: 100%;
        height: 184px;
    }
    
    .box-logo {
        width: 1170px;
        height: 187px;
        margin: 0 auto;
    }
    
    .logo-icon li {
        list-style-type: none;
    }
    
    .logo-icon {
        width: 100%;
        height: 100%;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    
    .main-footer {
        width: 100%;
        height: 100%;
        background: #222222;
    }
    
    .top-footer {
        width: 1170px;
        height: 74px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #4a4a4a;
    }
    
    .icon-footer {
        display: flex;
        align-items: center;
    }
    
    .icon-footer a {
        margin: 0 23px;
        display: block;
    }
    
    .icon-1 {
        background: url("/img/fb.png") no-repeat;
        display: inline-block;
        width: 23px;
        height: 23px;
    }
    
    .icon-2 {
        background: url("/img/tw.png") no-repeat;
        display: inline-block;
        width: 23px;
        height: 20px;
    }
    
    .icon-3 {
        background: url("/img/ins.png") no-repeat;
        display: inline-block;
        width: 23px;
        height: 23px;
    }
    
    .icon-4 {
        background: url("/img/yb.png") no-repeat;
        display: inline-block;
        width: 23px;
        height: 20px;
    }
    
    .box-footer {
        margin: 0 auto;
        width: 1170px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 55px 0;
        color: #616161;
    }
    
    .box-left {
        width: 350px;
        height: 100%;
        padding-right: 75px;
        border-right: 1px solid #616161;
    }
    
    .text-left {
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .address {
        font-size: 14px;
    }
    
    .box-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 502px;
        height: 100%;
    }
    
    .center-1 {
        display: flex;
        flex-direction: column;
        padding-left: 100px;
    }
    
    .center-2 {
        display: flex;
        flex-direction: column;
        padding-right: 100px;
    }
    
    .center-1 a,
    .center-2 a,
    .box-right a {
        text-decoration: none;
        color: #616161;
        padding: 2px 0 2px 0;
    }
    
    .box-right a:hover,
    .center-1 a:hover,
    .center-2 a:hover {
        color: #ffffff;
        transition: 0.7s all;
    }
    
    .box-right {
        display: flex;
        flex-direction: column;
        padding-left: 57px;
        border-left: 1px solid #616161;
    }