@font-face {
    src: url("../css/font/Futura\ LT\ W01\ Medium.ttf");
    font-family: futura;
}

.top-header {
    border-bottom: 1px solid #f3f4f6;
    background-color: #ffffff;
}

.menu-top-header .nav-item .nav-link {
    color: #111111;
    font-size: 12px;
    text-transform: uppercase;
}

.phone_number {
    font-size: 12px;
    color: #111111;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu-header .dropdown-menu .dropdown-item {
    border-bottom: 1px solid #f3f4f6;
    font-size: 17px;
}

.menu-header .dropdown-menu .dropdown-item:last-child,
.main-menu .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}

.menu-header .nav-item .nav-link {
    font-size: 17px;
    text-transform: uppercase;
    font-family: futura !important;
    color: #111111;
}

.main-menu .dropdown-menu .dropdown-item {
    font-size: 17px;
    border-bottom: 1px solid #f3f4f6;
}


/* 
.tile-header {
    padding: 5px 0;
}

.link-logo .logo {
    padding: 15px 0;
}

.main-menu .nav-item {
    padding: 0 5px;
} */

.box-cart {
    border: 1px dotted #cccccc;
    padding: 12px 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cart {
    width: 20px;
    height: 20px;
}

.lst-top,
.lst-bottom {
    padding: 20px 0;
}

.box-search .btn {
    position: relative;
}

.box-menu {
    padding: 50px 0 50px 0;
}

.box-slide {
    padding: 0;
}

.lst-tilte-first {
    position: absolute;
    display: block;
    width: 560px;
    top: 200px;
    left: 200px;
    text-align: center;
    color: #111111;
}

.lst-tilte-second {
    position: absolute;
    display: block;
    width: 560px;
    top: 200px;
    right: 200px;
    text-align: center;
    color: #ffffff;
}

.box-tilte-first,
.box-tilte-second {
    position: relative;
    display: block;
}

.tilte-1 {
    font-size: 24px;
    letter-spacing: 5px;
}

.tilte-2 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 0;
}

.lst-tilte-second .tilte-3 {
    font-size: 15px;
    color: #ececec;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.lst-tilte-first .tilte-3 {
    font-size: 15px;
    color: #505050;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.shop-now {
    border: none;
    padding: 14px 27px;
    margin-top: 57px;
    color: #f2727f;
    background: #ffffff;
    text-transform: uppercase;
}

.shop-now:focus {
    outline: none;
}

.shop-now:hover {
    background: #f2727f;
    color: #ffffff;
    transition: all 0.6s;
}

.lst-icon-services {
    text-align: center;
    margin: 100px 0;
}

.icon-services {
    width: 20px;
    height: 20px;
}

.link {
    padding: 15px;
    background: #ffffff;
    border-radius: 25px;
}

.box-icon {
    background: #f3f4f6;
    padding: 50px 20px;
}

.box-services {
    padding: 20px;
}

.tilte-services {
    margin-top: 30px;
}

.lst-tilte-new {
    text-align: center;
}

.tilte-new {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #111111;
}

.note {
    font-size: 17px;
    color: #111111;
    letter-spacing: 3px;
}

.box-item {
    text-align: center;
    position: relative;
}

.add-to {
    position: absolute;
    display: none;
    left: 60px;
    bottom: 10px;
}

.new-item:hover {
    box-shadow: 0 0 5px 5px #cccccc;
    transition: all 0.5s;
    transform: scale(1.0);
    cursor: pointer;
}

.item {
    width: 100%;
    padding-top: 10px;
}

.add-to {
    border: none;
    padding: 10px;
    color: #f2727f;
    background: #ffffff;
    margin-top: 10px;
    letter-spacing: 2px;
}

.add-to:focus {
    outline: none;
}

.new-item:hover .add-to {
    color: #ffffff;
    background: #f2727f;
    display: block;
}

.lst-item-new {
    padding: 38px 0 20px 0;
}

.text-new,
.money {
    font-size: 14px;
    color: #111111;
}

.box-item {
    height: 100%;
}

.box-categories {
    margin: 20px 0;
    background: url("../img/br-categories.png") no-repeat;
    width: 100%;
    height: 100%;
}

.bg-categories {
    width: 100%;
    height: 100%;
    display: flex;
}

.lst-title-new {
    padding-bottom: 70px;
}

.lst-item-categories {
    display: flex;
    padding: 96px 0;
}

.item-categories {
    padding: 0 20px;
    position: relative;
}

.item-categories .item-1 {
    width: 100%;
}

.text-categories {
    width: 89%;
    position: absolute;
    bottom: 46px;
    color: #111111;
    text-align: center;
    text-transform: uppercase;
    background: #fefefead;
    padding: 10px 0;
    display: block;
}

.text-title {
    font-size: 20px;
    text-align: center;
    background: #ffffff85;
    position: absolute;
    display: block;
    width: 92%;
    bottom: 120px;
    padding: 10px 0;
}

.banner-img {
    width: 100%;
}

.lst-banner {
    padding-top: 100px;
}

.banner-1 .banner-img,
.banner-3 .banner-img {
    padding-top: 40px;
}

.banner-2 .banner-img {
    position: relative;
}

.box-title-banner {
    position: absolute;
    top: 150px;
    left: 70px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #5b545e;
    background: #11111173;
}

.text-tilte {
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.sale-of {
    color: #ffffff;
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 5px;
}

.box-featured {
    text-align: center;
    padding: 92px 0 33px 0;
}

.tilte-featured {
    font-size: 30px;
    color: #111111;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.text {
    font-size: 17px;
    color: #111111;
    letter-spacing: 2px;
}

.lst-man .link-featured,
.lst-man .link-featured-women {
    padding: 0 40px;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #111111;
}

.lst-man {
    margin: 61px 0 0 0;
}

.box-blog {
    background: #f3f4f6;
    margin-top: 95px;
}

.item-blog {
    padding: 20px 30px;
}

.img-blog {
    position: relative;
    width: 100%;
    height: 100%;
}

.box-comment {
    position: absolute;
    display: block;
    bottom: 40px;
    padding-left: 30px;
}

.tilte-blog {
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.date,
.comment {
    color: #ffffff;
    font-size: 12px;
}

.date {
    padding-right: 50px;
}

.date::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 14px;
    background: url("../img/feb.png") no-repeat;
    margin-right: 5px;
}

.comment::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 12px;
    background: url("../img/cm.png") no-repeat;
    margin-right: 5px;
}

.icon-1,
.icon-2,
.icon-3,
.icon-4,
.icon-5,
.icon-6 {
    padding: 30px;
    width: 100%
}

.lst-banner-logo {
    padding: 50px 0;
    text-align: center;
}

.lst-link .nav-item .nav-link {
    padding-left: 0;
}

.box-link-footer {
    padding: 32px 0 90px 0;
}

.lst-link .nav-item .nav-link {
    font-size: 17px;
    color: #9a9a9a;
    text-transform: capitalize;
}

.lst-link .nav-item .nav-link:hover {
    color: #ffffff;
    cursor: pointer;
    transition: all 0.7s;
}

.tilte-footer {
    font-size: 17px;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 1px solid #9a9a9a;
    padding-bottom: 5px;
}

.text-footer {
    font-size: 17px;
    color: #9a9a9a;
    padding-top: 50px;
}

.text-add {
    font-size: 17px;
    color: #9a9a9a;
}

.add {
    color: #ffffff;
    font-size: 17px;
}

.box-footer {
    background: #111111;
}

.icon-footer-1,
.icon-footer-2,
.icon-footer-3,
.icon-footer-4,
.icon-footer-5 {
    padding: 5px 10px;
}

.brand-footer-1,
.brand-footer-2,
.brand-footer-3,
.brand-footer-4 {
    padding: 5px 5px;
}

.box-search-footer .brand {
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    color: #9a9a9a;
    padding-right: 20px;
}

.box-search-footer input[type=search] {
    outline: none;
    background: #111111;
    color: #ffffff;
    width: 60%;
    font-size: 13px;
    padding-left: 15px;
}

.email {
    border: none;
}

.submit {
    width: 20px;
    height: 20px;
}

.submit::before {
    content: "";
    background: url("../img/submit.png") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    bottom: 0;
    margin-left: 100px;
}

.lst-footer {
    padding-top: 90px;
}

.box-tilte-footer {
    padding-bottom: 50px;
}

.box-search-footer {
    border-bottom: 1px solid #9a9a9a;
}

.bottom-footer {
    text-align: center;
    padding: 24px 0;
}

.text-bottom-footer {
    font-size: 14px;
    color: #9a9a9a;
    letter-spacing: 3px;
}

.address {
    color: #f2727f;
    font-size: 14px;
    letter-spacing: 3px;
}

.box-bottom-footer {
    background: #000000;
}

.box-contact-footer {
    padding-top: 60px;
}

.icon-search {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 12px;
    border: none;
}

.icon-search::before {
    content: "";
    background: url("../img/search_1.png") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 4px;
}

.icon-search:focus {
    outline: none;
}

.dropdown-menu {
    width: 250px;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
    display: none;
}

.lst-menu-header {
    display: flex;
}

.box-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px 0;
}

.lst-search {
    display: flex;
    align-items: center;
}

.lst-menu {
    display: flex;
    margin: 0;
}

.lst-menu .item-header {
    list-style-type: none;
    padding-right: 45px;
    position: relative;
}

.lst-menu .item-header .link-header {
    text-decoration: none;
    color: #111111;
    text-transform: uppercase;
    position: relative;
    font-size: 17px;
    font-family: futura;
}

.search-header {
    border-radius: 50%;
    background: #eeeff1;
    padding: 15px;
    margin-right: 17px;
}

.menu-drop {
    padding-inline-start: 0;
    text-align: center;
    padding-inline-start: 0;
    position: absolute;
    display: none;
    background: #ffffff;
    width: 187px;
    z-index: 1;
    left: -52px;
    box-shadow: 0 0 5px 5px #9a9a9aad;
    top: 53px;
    font-size: 17px;
}

.menu-drop .item-drop {
    list-style-type: none;
    padding: 14px 30px;
    border-bottom: 1px solid #f3f4f6;
}

.menu-drop .item-drop .link-drop {
    text-decoration: none;
    color: #111111;
}

.lst-menu .item-header:hover .menu-drop {
    display: block;
    z-index: 1;
}

.lst-menu .item-header:hover .box-drop-women {
    display: block;
}

.box-drop-women {
    position: absolute;
    z-index: 1;
    left: -300px;
    display: none;
    top: 62px;
    background: #ffffff;
    box-shadow: 0 0 5px 5px #ededed;
}

.lst-drop-women {
    padding-inline-start: 0;
}

.lst-drop-women .item-drop-women {
    list-style-type: none;
}

.lst-drop-women .item-drop-women .link-drop-women {
    text-decoration: none;
    font-size: 17px;
}

.box-drop-1 .tilte-drop,
.box-drop-2 .tilte-drop,
.box-drop-3 .tilte-drop {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: #4a4a4a;
    text-transform: uppercase;
}

.box-drop-women .drop-women {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.lst-box {
    display: flex;
    justify-content: space-between;
    width: 1167px;
    height: 337px;
}

.box-drop-1,
.box-drop-2,
.box-drop-3 {
    padding: 0px 53px 0 63px;
}

.box-drop-2 {
    border-left: 1px solid #eeeff1;
    border-right: 1px solid #eeeff1;
}

.lst-drop-women .item-drop-women {
    padding: 10px 0;
}

.lst-drop-women .item-drop-women .link-drop-women {
    color: #5c5c5c;
    font-size: 17px;
    font-family: futura;
}

.lst-box-men {
    padding: 30px 30px 30px 0;
    display: flex;
    justify-content: space-between;
    width: 1167px;
    height: 337px;
}

.drop-men {
    display: flex;
}

.box-drop-men {
    position: absolute;
    z-index: 1;
    left: -300px;
    display: none;
    top: 62px;
    background: #ffffff;
    box-shadow: 0 0 5px 5px #ededed;
}

.lst-drop-men {
    padding-inline-start: 0;
}

.lst-drop-men .item-drop-men {
    list-style-type: none;
    padding: 10px 0;
}

.lst-drop-men .item-drop-men .link-drop-men {
    text-decoration: none;
    font-size: 17px;
    color: #5c5c5c;
    font-family: futura;
}

.lst-menu .item-header:hover .box-drop-men {
    display: block;
}

@media (max-width:768px) {
    .col-md-4 {
        display: inline-flex;
        justify-content: center;
    }
    .tile-header {
        text-align: center;
    }
}

@media (max-width:476px) {
    .lst-tilte-first {
        top: 10px;
        left: 0;
        width: 50%;
        margin-left: 10px;
    }
    .tilte-1 {
        font-size: 6px;
        letter-spacing: 3px;
    }
    .tilte-2 {
        font-size: 8px;
        padding: 5px 0 0 0;
    }
    .lst-tilte-first .tilte-3 {
        font-size: 6px;
        letter-spacing: 1px;
    }
    .lst-tilte-second {
        top: 10px;
        right: 0;
        width: 50%;
        margin-right: 10px;
    }
    .tilte-1 {
        font-size: 6px;
        letter-spacing: 3px;
    }
    .tilte-2 {
        font-size: 8px;
        padding: 5px 0 0 0;
    }
    .lst-tilte-second .tilte-3 {
        font-size: 6px;
        letter-spacing: 1px;
    }
    .shop-now {
        margin: 10px;
        font-size: 10px;
    }
    .new-item:hover .add-to {
        left: 144px;
        font-size: 10px;
    }
    .lst-title-new {
        padding-bottom: 62px;
    }
    .box-search-footer input[type=search] {
        width: 40%;
    }
    .box-bottom-icon {
        padding: 15px 0;
    }
    .lst-item-categories {
        height: 100%;
    }
    .box-title-banner {
        left: 48px;
        top: 185px;
    }
    .text-tilte {
        font-size: 13px;
    }
    .sale-of {
        font-size: 25px;
    }
    .banner-2 {
        padding-top: 40px;
    }
    .lst-icon-services {
        margin: 10px 0;
    }
    .item-categories {
        width: 100%;
    }
    .item-1 {
        width: 30%;
    }
    .item-categories .item-1 {
        width: 100%;
    }
    .lst-item-categories {
        padding: 50px 0;
    }
    .icon-1,
    .icon-2,
    .icon-3,
    .icon-4,
    .icon-5,
    .icon-6 {
        width: 50%;
    }
    .box-icon {
        padding: 22px 39px;
    }
    .box-search-footer {
        margin-bottom: 28px;
    }
    .box-tilte-footer {
        padding-bottom: 20px;
    }
    .text-categories {
        width: 69%;
        font-size: 8px;
        bottom: 18px;
    }
    .col-md-2 {
        text-align: center;
    }
    .icon-footer-1,
    .icon-footer-2,
    .icon-footer-3,
    .icon-footer-4,
    .icon-footer-5 {
        padding: 0 30px;
    }
    .brand-footer-1,
    .brand-footer-2,
    .brand-footer-3,
    .brand-footer-4 {
        padding: 0 24px;
    }
    .menu {
        margin-left: 10px;
    }
    .box-menu-header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .lst-menu {
        padding-inline-start: 0;
        display: flex;
        flex-direction: column;
    }
}